@import '../Vars.scss';

.product {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  grid-template-areas:
    'picture      details'
    'description  details';

  &__picture {
    grid-area: picture;
    grid-column: 1 / span 7;
    height: 680px;
    width: 680px;
  }

  &__details {
    grid-area: details;
    grid-column: 8 / span 3;
    padding: $padding-32 $padding-32 $padding-32 0;
  }

  &__condition {
    font-size: $font-size-14;
  }

  &__condition::after {
    content: ' – ';
  }

  &__sold-quantity {
    font-size: $font-size-14;
  }

  &__title {
    font-size: $font-size-24;
    margin-top: $margin-16;
  }

  &__price {
    font-size: $font-size-46;
    margin: $margin-32 0;
  }

  &__price-currency {
    margin-right: 0.3em;
  }

  &__price-decimals {
    font-size: $font-size-24;
    margin-left: 0.1em;
  }

  &__buy-button {
    background-color: $blue;
    border-radius: $border-radius;
    color: $white;
    font-size: $font-size-18;
    height: 50px;
    width: 100%;
  }

  &__description {
    grid-area: description;
    grid-column: 1 / span 7;
    white-space: pre-wrap;
    padding: $padding-32;
  }

  &__description-header {
    font-size: $font-size-28;
    margin: 0;
  }

  &__description-content {
    color: $gray;
    font-size: $font-size-16;
    margin-top: $margin-32;
  }
}
