@import '../Vars.scss';

$thumbnail-side-size: 180px;

.result {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: $padding-16 0;
  border-bottom: 1px solid $light-gray;

  &__image-link {
    width: $thumbnail-side-size;
    height: $thumbnail-side-size;
  }

  &__thumbnail {
    height: inherit;
    width: inherit;
    border: 0px;
    border-radius: $border-radius;
  }

  &__details-wrapper {
    margin-left: $margin-16;
    margin-top: $margin-16;
    width: 65%;
  }

  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size-24;
  }

  &__price-currency {
    margin-right: 0.3em;
  }

  &__free-shipping {
    font-size: $font-size-18;
    margin-left: 12px;
  }

  &__description {
    margin-top: $margin-32;
  }

  &__location {
    margin: 0 auto;
    color: $dark-gray;
    flex: 1;
    font-size: $font-size-12;
    margin-top: $margin-16;
  }
}
