@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* fonts */

$theme-font: 'Montserrat', sans-serif;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-46: 46px;

/* colors */

$yellow: #ffe600;
$blue: #3483fa;
$font-color: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #eeeeee;
$white: #ffffff;

/* borders */

$border-radius: 4px;

/* margins */

$margin-16: 16px;
$margin-32: 32px;

/* paddings */

$padding-16: 16px;
$padding-32: 32px;
