@import '../Vars.scss';

/* reset */
* {
  box-sizing: border-box;
}

body {
  font-family: $theme-font;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: 56px auto;
  height: 100vh;
  color: $font-color;
  background-color: $light-gray;
  overflow-y: scroll;
}

input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Layout */

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 1rem;
  max-width: 1220px;
  margin: auto;
}

@for $i from 1 through 10 {
  .width-#{$i} {
    grid-column-end: span $i;
  }

  .pos-#{$i} {
    grid-column-start: $i;
  }
}

/* elements */

.header {
  grid-area: header;
  background-color: $yellow;
}

.main {
  grid-area: main;
  grid-template-rows: 46px auto;
}

.container {
  background-color: $white;
  border-radius: $border-radius;
  margin-bottom: 100px;
  overflow: hidden;
}
